:root {
  --main-color: #2874a6;

  --color1: #084b8a;
  --color2: white;
  --color3: #1f618d;
  --color4: #bdbcbc;
  --color5: #8c0505;
  --color6: #cb2020;

  --color-table1: #896a09;
  --color-table1-5: #f2e3a9;
  --color-table2: #bdbdbd;
  --color-table2-5: #d9d9d8;

  --color-header1: #044ba2;
  --color-header2: #f5b041;

  --color-gray1: #525659;
  --color-gray2: #323639;
}

html,
body {
  min-height: 100%;
}

body {
  background: linear-gradient(150deg, #0e2a66, #7bd5ff);
}

.logo {
  width: 90px;
}

.form-login {
  position: absolute;
  max-width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-signin {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-signin input[type="email"],
.form-signin input[type="password"],
.form-signin input[type="text"],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: rgb(104, 145, 162);
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 16px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: rgb(12, 97, 33);
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
  color: rgb(12, 97, 33);
}

.btn1 {
  height: 40px;
  width: 140px;
}

.btn2 {
  width: 200px;
  height: 40px;
  font-size: 18px;
  float: right;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn3 {
  font-size: 18px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-a {
  float: right;
  width: 220px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.btn-a2 {
  float: left;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.btn-a1 {
  width: 20px;
  height: 30px;
}

.modal-header-primary {
  color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background-color: #055fb5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal-body-center {
  text-align: center;
}

.modal-body-title {
  font-family: arial;
  font-size: 20px;
  font-weight: 600;
}

.modal-photo {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-title-weight {
  font-weight: 600;
}
.modal-title-h4 {
  font-weight: 600;
  color: var(--color1);
}

.b-modal-info {
  color: #8c0505;
  font-size: 1.4rem;
}

.d-flex-gap {
  display: flex;
  gap: 8px;
}

.btn-general {
  cursor: pointer;
}

.span-red {
  color: red;
  font-weight: 600;
}
.span-gray {
  line-height: normal;
  font-size: 0.9rem;
  color: gray;
}

.nav-text-h3 {
  margin: 8px 0 0 8px;
  font-size: 20px;
  font-weight: 600;
}

.select-reporte {
  width: 300px;
  height: 45px;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
}

.select-info {
  width: 300px;
  height: 30px;
  color: var(--color6);
}

.select {
  font-weight: 600;
  font-size: 19px;
}
.select-new {
  width: 100%;
  height: 40px;
  font-weight: 600;
  text-align: center;
  font-size: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.select-search {
  width: auto;
  font-weight: 700;
  font-size: 20px;
}

.img-no-search {
  width: 140px;
  height: 140px;
}

.img-logo {
  opacity: 0.8;
}

.font-name {
  font-size: 20px;
}
.span-logo {
  font-weight: 600;
  font-size: 1.4rem;
}
.title-content-h1 {
  text-align: center;
  color: black;
  font-weight: 600;
}
.title-content-h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.info-box-text1 {
  font-weight: 600;
}

.font-w-600 {
  font-weight: 600;
}

.li-nav-info {
  width: max-content;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.card-header-title {
  color: var(--color1);
  font-size: 1.3rem;
}

.card-color {
  background-color: var(--color-header2);
}
.info-box-title {
  font-size: 20px;
}
.info-box-count {
  font-size: 40px;
}
.info-box-desc {
  font-weight: 500;
  font-size: 18px;
}

.div-info {
  border: 1px solid black;
  padding: 10px;
}

.div-info .p-info {
  margin: 5px 0;
  color: red;
  font-weight: 600;
  text-align: center;
  /* font-style: italic; */
}
.input-form {
  font-weight: 600;
  font-size: 18px;
}

.p-descrip {
  color: #8c0505;
  font-size: 1.4rem;
  font-weight: 600;
}

.p-info {
  color: var(--color-header1);
  font-weight: 600;
}

.color-blue {
  color: var(--color1);
}

.table-data {
  width: 100% !important;
}
.table-data tr td {
  padding: 0.4rem;
}

.table-doc thead tr th {
  background: var(--color-table1);
  text-align: center;
  color: white;
}
.table-remi thead tr th {
  background: var(--color-table2);
  text-align: center;
  color: white;
}
.table-doc tbody tr,
.table-remi tbody tr {
  text-align: center;
  font-size: 19px;
}

.table-doc tbody tr th {
  background: var(--color-table1-5);
}
.table-remi tbody tr th {
  background: var(--color-table2-5);
}

.table-data thead,
.table-data tfoot {
  background: var(--main-color);
  color: var(--color2);
}
.table-data thead tr,
.table-data tbody,
.table-data tfoot tr {
  text-align: center;
}
.table-data thead tr .th-photo,
.table-data tfoot tr .th-photo {
  width: 10px;
}

#Enviar {
  height: 40px;
  font-size: 20px;
}
.file input {
  display: none;
}
.file label {
  font-weight: 500;
  display: block;
  padding: 8px 21px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #1184ff;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
#validar {
  margin: 33px 0;
  width: 80px;
  height: 40px;
  margin: 33px 0;
}
.input-check {
  width: 20px;
  height: 20px;
}

.input-date {
  width: 333px;
  height: calc(2.25rem + 2px);
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.a-link {
  height: 40px;
  width: 120px;
  font-weight: 600;
  padding: 6px;
}

/* ESTILOS PARA LA PÃGINA DE INGRESO DE DOCUMENTOS */
.header {
  margin-bottom: 0.5rem;
}

.naveg div {
  background-color: var(--color-header1);
  width: 100%;
  height: 100%;
  max-width: 1140px;
  padding: 0.9rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo {
  color: var(--color2);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.img-logo {
  width: 50px;
  height: 50px;
}

.aviso-span {
  font-size: 14px;
  color: green;
}

.content-lh {
  line-height: 1.5 !important;
}

.btn-table {
  height: 34px;
}

.div_vistaprevia {
  background-color: var(--color-gray2);
  height: 480px;
}

/* CSS PARA EL LOADER1 */
#loader {
  /* display: none; */
  height: 100vh;
  position: fixed;
  width: 100%;
  background: #000000a3;
  z-index: 2000;
}
.spinner {
  margin: 40vh auto 1vh;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #eee;
  height: 100%;
  width: 10px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.loader-text {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/* LOADER 2 */

.loader2 {
  position: relative;
  width: 100px;
  height: 130px;
  background: #fff;
  border-radius: 4px;
}
.loader2:before {
  content: "";
  position: absolute;
  width: 54px;
  height: 25px;
  left: 50%;
  top: 0;
  background-image: radial-gradient(
      ellipse at center,
      #0000 24%,
      #de3500 25%,
      #de3500 64%,
      #0000 65%
    ),
    linear-gradient(to bottom, #0000 34%, #de3500 35%);
  background-size: 12px 12px, 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  transform: translate(-50%, -65%);
  box-shadow: 0 -3px rgba(0, 0, 0, 0.25) inset;
}
.loader2:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 66%;
  height: 60%;
  background: linear-gradient(to bottom, #f79577 30%, #0000 31%);
  background-size: 100% 16px;
  animation: writeDown 2s ease-out infinite;
}

@keyframes writeDown {
  0% {
    height: 0%;
    opacity: 0;
  }
  20% {
    height: 0%;
    opacity: 1;
  }
  80% {
    height: 65%;
    opacity: 1;
  }
  100% {
    height: 65%;
    opacity: 0;
  }
}
